<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrimeNumbers" value="https://nuget.pkg.github.com/PrimeFactors-MS/index.json" />
  </packageSources>
  <packageSourceCredentials>
  	<PrimeNumbers>
  		<add key="Username" value="" />
  		<add key="ClearTextPassword" value="" />
  	</PrimeNumbers>
  </packageSourceCredentials>
</configuration>